* {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

/* .color-font {
    color: #1e874b;
} */

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.header ul, .footer ul{
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
}

.header li, .footer li {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer ul{ 
    justify-content:space-between;
}

section {
    padding: 10px 15px 10px 15px;
}

.image {
    width: 150px;
    height: 170px;
    background-color: #c9c9c9;
}